#result_table{
    opacity: 0.9;
    border:1px solid #ffdefb;
    border-radius: 20px;
    padding: 0px;
    height: 400px;
    width: 100%;
    display: block;
    overflow: auto;

}
#result_table th,#result_table td{
    border: 1px solid black;
    padding: 0px;
    height: 30px;
    width: 1%;
    text-align: center;

}
#result_table th{
    opacity: 0.7;
    background-color: #ffdefb;
}

#result_table_head {
    opacity: 0.7;
    background-color: #ffdefb;
}
.name_of_table {
    text-align: center;
    font-size: 18px;
}